<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/"><< Home </a>
<ul th:each="album:${albums1}">
    <h1 th:text="${album.title}"></h1>
    <li th:text="${album.artist}"></li>
    <li th:text="${album.songCount}"></li>
    <li th:text="${album.length}"></li>
    <li><img th:src="${album.imageUrl}"  th:alt="${album.title}"/></li>
</ul>
<ul th:each="album:${albums2}">
    <h1 th:text="${album.title}"></h1>
    <li th:text="${album.artist}"></li>
    <li th:text="${album.songCount}"></li>
    <li th:text="${album.length}"></li>
    <li><img th:src="${album.imageUrl}"  th:alt="${album.title}"/></li>
</ul>
</body>
</html>